<div style="color:#000000">
<p>Connie Huang is an exchange student at VIA Design. Prior to this project, she is educated as an interior designer at her home school. She hopes to pursue a career in furniture and interior design.</p>
<img src="images/12891733_10208040798994434_552486845459954401_o.jpg" alt="12891733_10208040798994434_552486845459954401_o.jpg"height="600" width="850">
    <!--This picture is my own picture...it was taken by friend Alex-->
    
<ul>
  <li>#interior design</li>
  <li>#furniture design</li>
  <li>#Milan Design Week</li>
</ul>
</div>
<a href="index.html">Visit index</a>