<div style="color:#000000">
<img src="images/VIA_Design_TERRA_FIRMA_by_Connie_Huang1.jpg" alt="VIA_Design_TERRA_FIRMA_by_Connie_Huang1.jpg" height="450" width="299.9">
    <!--This picture is my own picture...it was taken by friend Alex-->
<p>Connie Huang: Terra Firma</p>
<p>The world of tactility and movement was built from the foundation of floor, where we crawled as infants and discovered our surroundings through touching. The solid ground provided support and strengthened the body when it developed. But as we grow older, we move farther away from the ground, neglecting the many benefits offered by our primary foundation, such as better posture, flexibility, and digestion. </p>
<p>Terra Firma, derived from “solid earth”, encourages users to spend more time on the ground. Combining the cold and stiff metal with the warm and soft knitted yarn, it symbolizes the many benefits that floor living offers. It is versatile as it can be used as a table, or a rug, by one person, or two. It is also portable and easy to manipulate because of it light weight and collapsible qualities. Terra Firma is designed to be used indoors, and invites users of all ages who agree to ground our bodies both physically and spiritually. 
</p>
<ul>
  <li>#interior design</li>
  <li>#furniture design</li>
  <li>#Milan Design Week</li>
</ul>
</div>

<a href="about_me.html">Visit about_me</a>